@{
    ViewData["Title"] = "Keine Berechtigung";
    Layout = "_Layout_Error";
}

<div class="error-wrapper">
    <div class="container">
        <img src="../img/sad.png" class="img-100" alt="">
        <div class="error-heading">
            <img src="../img/cloud-bg-1.png" class="cloud-first" alt="">
            <h2 class="headline font-primary" style="font-size:60px;">Leider keine Berechtigung dazu</h2>
        </div>
        <div class="col-md-8 offset-md-2">
            
            <p class="sub-content">
                Oje, sie haben keine Berechtigung, diese Aktion durchzuführen. Fragen sie ihren Administrator für Hilfe
            </p>
        </div>
        <div class="">
            <a href="javascript:window.history.back();" class="btn btn-primary btn-lg">Zurück</a>
        </div>
    </div>
</div>

